.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.categories {
  clear:both;
  height: 50px;
  padding: 10px;
}
.category {
  float: left;
  margin-right: 15px;
  padding: 5px;
}
.category:last-child {
  clear: right;
}

.product {
  float: left;
  display: block;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  width: 200px;
  height: 175px;
}

.productImage {
  width: 100px;
  height: auto !important;
}
.page {
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
